* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;
}
.search-box {
    display: inline-flex;
    width: 60%;
}
.logo {
    cursor: pointer;
    height: 40px;
    margin: 5px 10px;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.form-input {
    width: 100%;
    border: none;
}

.input-group-text {
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.fa-search {
    color: #fff;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.fa-shopping-basket {
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
    }
    .search-box {
        width: 50%;
    }
    .form-input {
        width: 100px;
    }

    .logo {
        min-width: 50%;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li {
        height: 60px;
        width: 100%;
    }
}

/*------------Side-Menu-----------*/

.side-menu {
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}

.side-menu ul {
    margin-left: 10px;
}
.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover {
    color: orange;
}

.side-menu ul li ul {
    display: none;
    z-index: 10;
}

.side-menu ul li:hover ul {
    display: block;
    padding: 4px 80px 10px 10px;
    position: relative;
    margin-left: 14%;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.fa-angle-right {
    margin-top: 4px;
    margin-right: 10px;
    float: right;
}
#menu-btn,
#close-btn {
    font-size: 30px;
    margin: 10px;
    color: orange;
    display: none;
}

@media only screen and (max-width: 980px) {
    .side-menu {
        width: 34%;
        z-index: 20;
        top: 133px;
        font-size: 12px;
        position: fixed;
        display: none;
    }
    .side-menu ul li ul {
        top: 133px;
    }
    .side-menu ul li:hover ul {
        margin-left: 31%;
    }
    #menu-btn {
        display: block;
    }
}

/*------- Slide Image CSS---------*/

.slider {
    width: 85%;
    margin-left: 15%;
    padding: 0 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center !important;
    align-items: center !important;
}
.carousel-item {
    position: relative !important;
    width: 100% !important;
    overflow: hidden !important;
    height: 80vh !important;
}
.carousel-item img {
    width: 100%;
}
.carousel {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    cursor: pointer;
}

.carousel-indicators {
    position: absolute;
    z-index: 1 !important;
    top: 74vh;
}
.carousel-indicators .active {
    background-color: white !important;
}
.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: orange !important;
}

@media only screen and (max-width: 980px) {
    .slider {
        width: 100%;
        margin-left: 0;
    }
}

/*--------------------------featured-categories CSS-------------------------*/

.featured-categories {
    width: 85% !important;
    margin-left: 15% !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 50px 0;
}
.featured-categories img {
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}

.featured-categories img:hover {
    transform: scale(1.1);
}

/*-------------------On Sale CSS------------------------------*/
.on-sale {
    width: 85% !important;
    margin-left: 15% !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 50px 0;
}
.title-box {
    background: orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2 {
    font-size: 24px;
}

.title-box::after {
    content: "";
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

.title-box2 {
    cursor: pointer;
    background: rgb(81, 255, 0);
    color: #fff;
    width: 100px;
    padding: 4px 10px;
    height: 25px;
    margin-bottom: 30px;
    display: flex;
}

.title-box2 h4 {
    font-size: 16px;
}

.title-box2::after {
    content: "";
    border-bottom: 25px solid rgb(81, 255, 0);
    border-right: 35px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 90px;
}

/*-------------------Product Top CSS------------------------------*/

.product-top img {
    width: 100%;
    max-height: 200px;
}
.overlay-right {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

.overlay-right .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.6s;
}

/*-------------------Product Bottom CSS------------------------------*/

.product-bottom .fa {
    color: orange;
    font-size: 10px;
}

.product-bottom h3 {
    font-weight: bold;
    font-size: 20px;
}

.product-bottom h5 {
    padding-bottom: 10px;
    font-size: 15px;
}

/*-------------------New Product------------------------------*/

.new-products {
    width: 85% !important;
    margin-left: 15% !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 50px 0;
}

/*-------------------website-features------------------------------*/

.website-features {
    width: 85% !important;
    margin-left: 15% !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 60px 0;
}
.website-features img {
    width: 20%;
}

.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}
.feature-box {
    padding-top: 20px;
}

/*-------------------website-features------------------------------*/

.footer {
    margin-top: 50px;
    background: #000;
    color: #fff;
}

.footer h1 {
    font-size: 15px;
    margin: 25px 0;
}

.footer p {
    font-size: 12px;
}
.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.fa-heart-o {
    color: red;
    font-size: 15px;
}
.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}
.footer-image img {
    width: 150px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}

/*--------------------single-product-------------------*/

.single-product {
    margin-top: 70px;
}
.new-arrival {
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7 h2 {
    color: #555;
}

.single-product .fa {
    color: orange;
}

.single-product .price {
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;

    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 40px;
}

.single-product .btn-primary {
    background: orange !important;
    color: #fff;
    font-style: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

/*--------------------product-description-------------------*/

.product-description h6 {
    margin-top: 50px;
    color: orange;
}

.product-description p {
    margin-top: 30px;
}
.product-description hr {
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

.appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
        white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
        white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
input {
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
}

#topbtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50% !important;
    cursor: pointer;
    display: none;
}
