/***Styles for chekout page ***/
#check1,
#check2,
#check3 {
    background: #fff8dc;
    /* padding: 3% 2% 1% 2%; */
    padding: 1%;
    border: 1px solid rgba(88, 195, 232, 0.4);
    margin: 1%;
}
#check1 h3,
#check2 h3,
#check3 h3 {
    padding: 0% 2% 1% 2%;
    margin: 2%;
    color: #455a64;
}
.checkout-top-ok {
    margin: 3%;
}
.check-dots {
    color: #58c3e8;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 10px;
}
#check-one-top,
#check-two-top,
#check-three-top {
    background: #58c3e8;
    padding: 20px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
#check-one-top {
    background: #004c48;
}
#check-two-top {
    background: #00bbb5;
}
#check-three-top {
    background: #58c3e8;
}
.payment-div {
    border: 1px solid rgba(88, 195, 232, 0.4);
    padding: 20px;
    margin-top: 5px;
}
.payment-div i {
    color: #01579b;
    font-size: 4em;
    padding: 5px;
}
.error-input {
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.09);
    color: #546e7a;
}
.success-input {
    border: 1px solid green;
    background: rgba(0, 255, 0, 0.09);
    color: #546e7a;
}
.input-hint {
    font-style: italic;
    font-size: 12px;
    color: gray;
}
/***Styles for chekout page ***/
