<<<<<<< HEAD

.navbar-default {
    background-color: #546E7A;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #efefef;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #ffffff;

}
.active{
  border-bottom: #ffffff;
}
.logopng {
  height: 59px;
width: 67px;
padding-top: 2px;
padding-left: 4px;
}
.navbar-brand {
    float: left;
    height: 52px;
    font-size: 18px;
    padding:0px;
    line-height: 20px;
}
=======
.clear{
	overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width:100%;
}
.navbar-default {
    background-color: #f8f8f8c2;
    }
    .navbar-default .navbar-nav > li > a {
    color: #212121;
}
.cd{
	margin-left: 39%;
    margin-right: 50%;
}
.cusnav{
	min-height: 104px;
}
.cusnamimg{
	max-height: 100px;
}
.cuslia li a{
	margin-top: 32px;
font-size: 18px;
}
.navbar-default .navbar-nav > .active > a{
	color: #be4141;
	background-color: transparent;
	border: 1px solid #cecece;
        border-top-color: rgb(206, 206, 206);
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-color: rgb(206, 206, 206);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-radius: 18px;
    border-bottom: 0px;
    border-top:0px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #be4141;
	background-color: transparent;
	border: 1px solid #cecece;
        border-top-color: rgb(206, 206, 206);
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-color: rgb(206, 206, 206);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-radius: 18px;
    border-bottom: 0px;
    border-top:0px;
    transition: .6s;
	}
	.navbar-form{
		margin-top: 37px;
	}
>>>>>>> refs/remotes/origin/master
